/* 
_________________________________________        
 _________________________________________       
  _________________________________________      
   _____/\\\\\\\\__/\\\\\\\\\\__/\\\\\\\\\\_     
    ___/\\\//////__\/\\\//////__\/\\\//////__    
     __/\\\_________\/\\\\\\\\\\_\/\\\\\\\\\\_   
      _\//\\\________\////////\\\_\////////\\\_  
       __\///\\\\\\\\__/\\\\\\\\\\__/\\\\\\\\\\_ 
        ____\////////__\//////////__\//////////__
         _________________________________________        
          _________________________________________ 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', monospace;
}


/* -------------------Home----------------------- */

.body-home {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 60px 1fr;
    background-color: black;
}

header .social-media {
    width: 100%;
    display: grid;
    background-color: #010102;
}

header .social-media .social-media-container {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header i {
    color: white;
}

header i:hover {
    font-size: 50px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: inherit;
    height: 80px;
    background-image: url("../assets/img/fondo_home.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

nav .logo {
    margin-left: 50px;
    height: inherit;
}

nav .about {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .about a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

nav .about a:hover {
    text-decoration: underline;
}

nav .logo a img {
    width: 80px;
}

.home-main {
    background-image: url("../assets/img/fondo_home.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
}

.home-title-container,
.home-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.home-button-container {
    height: initial;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: flex-start;
}

.home-button-container a {
    text-align: center;
    background-color: #010102;
    border-radius: 10px;
    padding: 20px 30px;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.home-button-container a:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .6);
}

.home-title-container p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.home-title-container p:hover {
    font-size: 30px;
}


/*-------------------------Blogs page------------------*/

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    grid-gap: 20px;
}

.hero-image {
    display: grid;
    grid-template-rows: 50px 1fr;
    align-items: center;
    padding: 0 30px;
    padding-bottom: 20px;
}

.hero-image h3 {
    text-transform: uppercase;
}

.hero-image figure img {
    width: 100%;
}

.hero-text {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 200px;
    align-self: center;
    align-items: center;
    grid-gap: 10px;
    margin-right: 0 20px;
    width: 80%;
    color: white;
}

.hero-text h2 {
    font-size: 30px;
    letter-spacing: 10px;
}

.hero-text a {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    color: black;
    width: 100px;
}

.hero-text a:hover {
    box-shadow: 2px 2px 1px 1px rgba(255, 255, 255, .3);
}

.proyects {
    display: grid;
    grid-template-rows: 50px 1fr;
    height: auto;
    width: 100%;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.titile-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.proyects h3 {
    justify-self: center;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    width: auto;
}

.proyects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    width: 90%;
    justify-self: center;
}

.proyect {
    background-color: black;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-gap: 10px;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    justify-items: start;
    color: white;
    height: 500px;
}

.proyect p,
a {
    margin: 0 20px;
}

.proyect a {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    color: black;
    width: 100px;
}

.proyect a:hover {
    box-shadow: 2px 2px 1px 1px rgba(255, 255, 255, .3);
}

.proyect figure img {
    width: 100%;
}


/* -------------------footer------------------ */

footer {
    display: grid;
    grid-template-rows: 30px 1fr;
    color: white;
}

footer span {
    background-color: rebeccapurple;
}

footer .fotter {
    background-color: black;
    display: flex;
    justify-content: center;
}

footer .fotter p {
    width: 700px;
    padding: 20px;
}

@media screen and (max-width: 780px) {
    .hero {
        grid-template-columns: 1fr;
    }
    .hero-text {
        justify-self: center;
        height: initial;
        margin-bottom: 20px;
    }
}